body {
  background-image: url(/img/cloudy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_block {
  height: 80%;
  width: 75%;
  background-image: linear-gradient(
    200deg,
    rgba(207, 183, 183, 0.658),
    rgba(124, 111, 172, 0.281)
  );
  border-radius: 20%;
  box-shadow: 15px 15px 50px, -15px -15px 50px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: rgb(48, 45, 45);
}

.magic_8ball,
img {
  height: 50vh;
  width: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.shake {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: translate(4px, 4px) rotate(0deg);
  }
  10% {
    transform: translate(-5px, -4px) rotate(-1deg);
  }
  20% {
    transform: translate(-7px, 0px) rotate(0deg);
  }
  30% {
    transform: translate(7px, 4px) rotate(0deg);
  }
  40% {
    transform: translate(4px, -5px) rotate(0deg);
  }
  50% {
    transform: translate(-4px, 4px) rotate(0deg);
  }
  60% {
    transform: translate(-7px, 4px) rotate(0deg);
  }
  70% {
    transform: translate(7px, 4px) rotate(0deg);
  }
  80% {
    transform: translate(-5px, 4px) rotate(0deg);
  }
  90% {
    transform: translate(4px, 4px) rotate(0deg);
  }
  100% {
    transform: translate(7px, -5px) rotate(0deg);
  }
}

.ask_field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.ask_field,
h2 {
  margin-bottom: 15px;
}

.input {
  margin-bottom: 15px;
  width: 30vw;
}

.ask_button {
  padding: 5px 25px;
}

@media only screen and (max-width: 1500px) {
  .title {
    font-size: 2.5rem;
    margin-top: 15px;
  }

  .magic_8ball,
  img {
    margin-top: 15px;
  }

  .ask_field {
    margin-top: 15px;
  }

  h2 {
    font-size: 1.8rem;
  }
  .magic_8ball,
  img {
    height: 40vh;
  }
}
